---

---

<aside>
  <div>
    <button>icon.1</button>
    <button>icon.2</button>
  </div>

  <div>
    <button>New Chat</button>
    <button>Search Chats</button>
    <button>Library</button>
  </div>

  <div>
    <button>Sora</button>
    <button>GPTs</button>
  </div>
  <div>
    <button>Projects</button>
  </div>

  <nav>
    <span>Chats</span>
    <ul>
      <li>Chat 1</li>
      <li>Chat 2</li>
      <li>Chat 3</li>
      <li>Chat 4</li>
      <li>Chat 5</li>
    </ul>
  </nav>
</aside>

<style>
  aside {
    max-width: 15%;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  nav span {
    font-size: 20px;
    color: #ffffff;
  }

  nav ul {
  }

  nav li {
    color: #ffffff;
  }
</style>
